<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="javascripts/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="javascripts//bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.fancybox.css">
</head>

<body>
<div class="row">
    <div class="col-md-3">
        <a href="http://bluemind-software.ro/" style="text-decoration:none">
            <img src="https://biz.prlog.org/bluemindsoftware/logo.jpg" style="height: 100px;">
        </a>
    </div>
    <div class="col-md-9">
        <a href="/" style="text-decoration:none">
            <h1>{{title}}</h1>
        </a>
    </div>

</div>

<!--NAVIGARE
    <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#"></a>
            </li>
        </ul>
    </div>
</div>-->


<div class="row">
    <div class="col-md-3">
        <form role="form" action="/" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="col-md-8">
                <h2 class="lead">FORMULAR UPLOAD</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="Nume" name="nume" placeholder="denumire fisier">
                </div>

                <label class="btn btn-default btn-file">
                    Browse <input id="fisierUpload" type="file" name="fisierUpload" style="display: none;"
                                  accept="application/x-zip-compressed,image/*">
                </label>
                <button type="submit" class="btn btn-danger">Upload</button>
            </div>
        </form>
    </div>
    <hr/>
    <div class="col-md-9">
        <table id="tabel" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Nume</th>
                <th>Thumb</th>
                <th>QR</th>
            </tr>
            </thead>

            <tbody>
            {{#each fisiere}}
                <tr>
                    <td style="text-align: center; font-size:large">{{nume}}</td>

                    <td>
                        <a href="{{fullURL}}" class="fancybox" title="{{nume}}"><img src="{{thumbURL}}"/></a>
                        </a>
                    </td>

                    <td>
                        <a href="{{QRurl}}" class="fancybox" title="{{nume}}"><img src="{{QRurl}}" style="height: 100px;width:100px"/></a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <span id="status"></span>
</div>
<script>

    $(document).ready(function () {
        $(".fancybox").fancybox();
        $("#tabel").DataTable();
    });

</script>
</body>
</html>